* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app,
body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	color: #212121;
	background: #f1f1f1;
	font-family: -apple-system, BlinkMacSystemFont,
	    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	    "Fira Sans", "Droid Sans", "Helvetica Neue",
	    sans-serif;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
p{
	margin-bottom: 1em;
}
.page {
	padding: 72px 32px 16px;
	min-height: 100%;
	width: 100%;
}

.page nav {
	margin: 0 8px;
}

.page nav a {
	display: block;
}
@media screen and (max-width:321px) {
	.page {
		padding: 16px 8px;
	}
}

h2 {
	margin-bottom: 16px;
}
