.Articles {
	list-style: none;
	padding: 0;

	.Article {
		a,
		a:visited {
			display: block;
			color: inherit;
			text-decoration: none;
			margin: 0 0 0.5em;
			padding: 1em;
			border-bottom: 1px solid #ccc;
		}
	}
}
