body {
	padding-top: 60px;
	font: 14px/1.21 'Helvetica Neue',arial;
}

.Header {

	position: fixed;
	width: 100%;
	top: 0;
	min-height: 65px;

	#click{
		display: none;
	}

	.toolbar{
		position: fixed;
    top: 0;
    display: block;
    height: 65px;
    width: 100%;
    background: #f0f;
    -webkit-transition: all .5s cubic-bezier(.87,-.2,.19,1.2) .2s;
    transition: all .5s cubic-bezier(.87,-.2,.19,1.2) .2s;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}

	.ic-menu{
		display: block;
    position: relative;
    height: 24px;
    width: 24px;
    top: 22px;
    cursor: pointer;
    z-index: 3;
    float: right;
    right: 20px;

			.i{
				margin-bottom: 4px;
				width: 100%;
				height: 3px;
				background: #fff;
			}
		}

	.Nav{
		position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s cubic-bezier(.87,-.2,.19,1.2) .2s;
    transition: all .5s cubic-bezier(.87,-.2,.19,1.2) .2s;
    top: 0;
    color: #fff;
    margin: 100px 0;
		.item{
			padding: 10px 0;
	    position: relative;
	    font-size: 1.5em;
	    line-height: 30px;
	    color: #fff;
	    display: block;
	    text-decoration: none;

		}
	}

	#click:checked ~ .toolbar{
		height: 250%;
	}

	#click:checked ~ .Nav{
		transform: scale(1);
		opacity: 1;
	}
}
